= simple_form_for password_resets_path, defaults: { input_html: { class: 'form-control' } } do |f|
  .form-group
    = f.input :email
  .form-group
    = f.button :submit, "Reset my password!", class: 'btn btn-default'
