%script( type='text/x-template' id='markdown-editor-tpl' )
  = simple_form_for @post, defaults: { input_html: { class: 'form-control' } } do |f|
    .form-group
      = f.input :body, as: :text, input_html: { 'v-model':'body', rows: 5 }
    .form-group
      = f.button :submit, class: 'btn btn-success'
      %a.btn.btn-primary{href:'#', '@click.prevent':'preview'} Preview

  %span{'v-html':'html_data'}
