%script( type='text/x-template' id='post-rating-buttons-tpl')
  .col-md-1.text-center( v-show = 'isVoted' )
    %span
      %button.format-button{'@click.prevent':'vote(1)'}
        %span.rating-icons{':class':'[ ratesMap[defaultRate] ]'}
        %span.favorites-quantity {{ quantity }}
  .col-md-2.text-center( v-else )
    %span( v-show = 'userPost' )
      %button.format-button{'@click.prevent':'vote(0)'}
        %span.rating-icons{':class':'[ ratesMap[0] ]'}
        %span.favorites-quantity {{ quantity }}
    %span( v-else )
      %button.format-button{'@click.prevent':'vote(-1)'}
        %span.glyphicon.glyphicon-minus
      %button.format-button{'@click.prevent':'vote(0)'}
        %span.glyphicon.glyphicon-eye-open
      %button.format-button{'@click.prevent':'vote(1)'}
        %span.glyphicon.glyphicon-plus
