%script( type='text/x-template' id='post-favorite-button-tpl' )
  .col-md-1
    %button.format-button{'@click.prevent':'add_to_favorites'}
      %span.glyphicon(:class = "[isEmpty ? 'glyphicon-star-empty' : 'glyphicon-star']")
      %span.bages {{ quantity }}
