%script( type='text/x-template' id='comment-form-tpl' )
  %comment-notification-list(:notifications = 'notifications')

  %div
    %pre(v-show = 'body')
      {{ body }}

  %div(v-if = '!loggedIn')
    Please login bla bla bla template

  = simple_form_for :comment, html: { 'v-on:submit.prevent': 'addComment($event)' } do |f|
    .form-group
      = f.input :body, as: :text, label: false, input_html: { 'v-model': 'body', ':disabled': "!loggedIn", class: 'form-control', rows: 5 }
    .form-group.text-right
      = f.button :submit, class: 'btn btn-success'
