%script( type='text/x-template' id='comment-list-tpl' )
  %div( v-for='comment in comments' track-by='id' )
    %comment( :comment = 'comment' )

    %div(:class = "{nestedComment: comment.treeDepth < 5}")
      %comment-list( :comments = 'comment.children' )

    -# %pre
      {{ $data | json }}
