%script( type='text/x-template' id='comment-tpl' )
  .comments-list-block
    .row
      .col-md-12
        %small
          = link_to '#{{ comment.id }}', '#'
    .row
      %p
        %strong
          {{ comment.body }}

    .row
      %a{href:'#', '@click.prevent':"showForm"} Reply

      %comment-form(v-if="replied" :parent-id="comment.id")
