@import "bootstrap-sprockets"
@import "bootstrap"

@media (min-width: 1200px)
  .container
    width: 970px

.postForm
  padding: 10px

.nestedComment
  padding-left: 50px

.comments-list-block
  margin: 1em
  padding: 1.5em
  border: 1px #aaa solid
