@import "bootstrap-sprockets"
@import "bootstrap"

@media (min-width: 1200px)
  .container
    width: 970px

.postForm
  padding: 10px

.login-buttons
  margin-right: 0.3em

.nestedComment
  padding-left: 50px

.comment-header
  margin: 1.5em 0 0.5em 2em

  .top-line
    padding: 5px 0 5px 0

.comment-body
  margin-left: 3em

.label-green
  @extend .label
  background: rgba(73, 138, 7, 0.75)

.comment-actions
  margin-left: 3em

  .reply
    a
      font-size: 0.9em

.favorite-button
  font-size: 1.3em

.format-button
  border: 1px solid #ccc
  background-color: transparent

.favorites-quantity
  font-weight: bold

.rating-icons
  @extend .glyphicon

  &.plus
    @extend .glyphicon-plus
    color: #5cb85c

  &.minus
    @extend .glyphicon-minus
    color: #d9534f

  &.eye-open
    @extend .glyphicon-eye-open
    color: #777
