= render partial: 'vue_templates/comments/comment_box_tpl'
= render partial: 'vue_templates/comments/comment_list_tpl'
= render partial: 'vue_templates/comments/comment_form_tpl'
= render partial: 'vue_templates/comments/comment_tpl'
